.banner {
  background-image: url('../../images/banner-pic.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px rgba(100, 100, 100, 0.3);
}
.banner-content {
  color: white;
  text-shadow: 1px 1px rgba(100, 100, 100, 0.5);
  margin-left: 100px;
}
.banner-content h1 {
  font-size: 45px;
  margin: 0;
}
.banner-content p {
  font-size: 35px;
  font-style: italic;
  margin-top: 0;
}

.btn-treehouse {
  color:  white;
  background-color: rgb(106, 213, 139);
  border-radius: 5px;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: bold;
  transition: 1s;
}
.btn-treehouse:hover {
  background-color: rgb(66, 173, 79);


}
